<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="false"
        android:label="Volume Trigger Test"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity
            android:name=".HarnessMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VolumeCommandActivity"
            android:exported="false" />
        <provider
            android:name=".VolumeCommandProvider"
            android:authorities="${applicationId}.volume-command-init"
            android:exported="false"
            android:initOrder="90" />
    </application>
</manifest>
